<!-- alumni/templates/alumni_form.html -->

{% extends "base.html" %} {% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-8">
      <div class="card shadow-sm">
        <div class="card-header bg-blue text-white text-center">
          <h2>Alumni Form</h2>
        </div>
        <div class="card-body p-4 mb-3">
          <form method="post" action="{% url 'alumni_form' %}">
            {% csrf_token %}
            <!-- Alumni Info -->
            <h4>Alumni Info</h4>
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                name="first_name"
                placeholder="Enter First Name"
                required
              />
            </div>
            <div class="form-group">
              <label for="middleName">Middle Name</label>
              <input
                type="text"
                class="form-control"
                id="middleName"
                name="middle_name"
                placeholder="Enter Middle Name"
              />
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                name="last_name"
                placeholder="Enter Last Name"
                required
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter Email Address"
                required
              />
            </div>
            <div class="form-group">
              <label for="graduationYear">Graduation Year</label>
              <input
                type="text"
                class="form-control"
                id="graduationYear"
                name="graduation_year"
                placeholder="Enter Graduation Year (e.g., 2020)"
              />
            </div>
            <div class="form-group">
              <label for="dob">Date of Birth</label>
              <input type="date" class="form-control" id="dob" name="dob" value="1900-01-01" />
            </div>
            <div class="form-group">
              <label for="currentCity">Current City</label>
              <input
                type="text"
                class="form-control"
                id="currentCity"
                name="current_city"
                placeholder="Enter Current City"
              />
            </div>

            <!-- Alumni Phone -->
            <!-- Alumni Phone -->
            <h4>Alumni Phone</h4>
            <div id="phone-section">
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="countryCode">Country Code</label>
                  <input
                    type="number"
                    class="form-control"
                    id="countryCode"
                    name="country_code[]"
                    placeholder="Without +"
                    required
                  />
                </div>
                <div class="form-group col-md-9">
                  <label for="mobileNumber">Mobile Number</label>
                  <input
                    type="number"
                    class="form-control"
                    id="mobileNumber"
                    name="mobile_number[]"
                    placeholder="Enter 10-digit Mobile Number"
                    required
                  />
                </div>
              </div>
            </div>
            <button
              type="button"
              class="btn btn-secondary mb-3"
              onclick="addPhoneNumber()"
            >
              Add Phone Number
            </button>
            <!-- Academic History -->
            <h4>Academic History</h4>
            <div id="education-section" class="form-row">
              <div class="form-group col-md-8">
                <label for="degreeName">Degree Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="degreeName"
                  name="degree_name[]"
                  placeholder="Enter Degree Name"
                  required
                />
                <!-- <option value="Bachelor's">Bachelor's</option> -->
                <!-- <option value="Master's">Master's</option> -->
                <!-- <option value="PhD">PhD</option> -->
                <!-- Add more degrees as needed -->
                <!-- </> -->
              </div>
              <div class="form-group col-md-4">
                <label for="cgpa">CGPA</label>
                <input
                  type="number"
                  step="0.1"
                  class="form-control"
                  id="cgpa"
                  name="cgpa[]"
                  placeholder="Enter CGPA (scale 9)"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="startYear">Start Year</label>
                <input
                  type="number"
                  class="form-control"
                  id="startYear"
                  name="start_year[]"
                  placeholder="Enter Start Year (e.g., 2018)"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label for="endYear">End Year</label>
                <input
                  type="number"
                  class="form-control"
                  id="endYear"
                  name="end_year[]"
                  placeholder="Enter End Year (e.g., 2022)"
                />
              </div>
            </div>
            <button
              type="button"
              class="btn btn-secondary mb-3"
              onclick="addEducation()"
            >
              Add Education
            </button>

            <!-- Achievements -->
            <h4>Achievements</h4>
            <div id="achievement-section" class="form-row">
              <div class="form-group col-md-8">
                <label for="awardTitle">Award Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="awardTitle"
                  name="award_title[]"
                  placeholder="Enter Award Title"
                  required
                />
              </div>
              <div class="form-group col-md-4">
                <label for="dateAwarded">Date Awarded</label>
                <input
                  type="date"
                  class="form-control"
                  id="dateAwarded"
                  name="date_awarded[]"
                />
              </div>
              <div class="form-group col-md-12">
                <label for="description">Description</label>
                <textarea
                  class="form-control"
                  id="description"
                  name="description[]"
                  placeholder="Describe the Achievement"
                ></textarea>
              </div>
            </div>
            <button
              type="button"
              class="btn btn-secondary mb-3"
              onclick="addAchievement()"
            >
              Add Achievement
            </button>

            <!-- Professional History -->
            <h4>Professional History</h4>
            <div id="job-section" class="form-row">
              <div class="form-group col-md-7">
                <label for="companyName">Company Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="companyName"
                  name="company_name[]"
                  placeholder="Enter Company Name"
                  required
                />
              </div>
              <div class="form-group col-md-5">
                <label for="jobTitle">Job Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="jobTitle"
                  name="job_title[]"
                  placeholder="Enter Job Title"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label for="startDate">Start Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="startDate"
                  name="start_date[]"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label for="endDate">End Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="endDate"
                  name="end_date[]"
                />
              </div>
              <div class="form-group col-md-12">
                <label for="skills">Skills</label>
                <textarea
                  class="form-control"
                  id="skills"
                  name="skills[]"
                  placeholder="List relevant skills for this position"
                ></textarea>
              </div>
            </div>
            <button
              type="button"
              class="btn btn-secondary mb-3"
              onclick="addJob()"
            >
              Add Job Experience
            </button>

            <!-- Social Media -->
            <h4>Social Media</h4>
            <div id="social-media-section">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="platform">Platform</label>
                  <select
                    class="form-control"
                    id="platform"
                    name="platform[]"
                    required
                  >
                    <option value="Instagram">Instagram</option>
                    <option value="Facebook">Facebook</option>
                    <option value="LinkedIn">LinkedIn</option>
                    <!-- Add more platforms as needed -->
                  </select>
                </div>
                <div class="form-group col-md-8">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username[]"
                    placeholder="Enter Username or Profile Link"
                    required
                  />
                </div>
              </div>
            </div>
            <button
              type="button"
              class="btn btn-secondary mb-3"
              onclick="addSocialMedia()"
            >
              Add Social Media Account
            </button>

            <button type="submit" class="btn btn-primary btn-block bg-blue">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function addPhoneNumber() {
    const phoneSection = document.getElementById("phone-section");
    const newPhone = `
        <div id="phone-section">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="countryCode">Country Code</label>
                                    <input type="number" class="form-control" id="countryCode" name="country_code[]" placeholder="Without +" required>
                                </div>
                                <div class="form-group col-md-9">
                                    <label for="mobileNumber">Mobile Number</label>
                                    <input type="number" class="form-control" id="mobileNumber" name="mobile_number[]" placeholder="Enter 10-digit Mobile Number" required>
                                </div>
                            </div>
                        </div>
                        `;
    phoneSection.insertAdjacentHTML("beforeend", newPhone);
  }

  function addEducation() {
    const educationSection = document.getElementById("education-section");
    const newEducation = `
<div id="education-section" class="form-row">
              <div class="form-group col-md-8">
                <label for="degreeName">Degree Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="degreeName"
                  name="degree_name[]"
                  placeholder="Enter Degree Name"
                  required
                />
                <!-- <option value="Bachelor's">Bachelor's</option> -->
                <!-- <option value="Master's">Master's</option> -->
                <!-- <option value="PhD">PhD</option> -->
                <!-- Add more degrees as needed -->
                <!-- </> -->
              </div>
              <div class="form-group col-md-4">
                <label for="cgpa">CGPA</label>
                <input
                  type="number"
                  step="0.1"
                  class="form-control"
                  id="cgpa"
                  name="cgpa[]"
                  placeholder="Enter CGPA (scale 9)"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="startYear">Start Year</label>
                <input
                  type="number"
                  class="form-control"
                  id="startYear"
                  name="start_year[]"
                  placeholder="Enter Start Year (e.g., 2018)"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label for="endYear">End Year</label>
                <input
                  type="number"
                  class="form-control"
                  id="endYear"
                  name="end_year[]"
                  placeholder="Enter End Year (e.g., 2022)"
                />
              </div>
            </div>`;
    educationSection.insertAdjacentHTML("beforeend", newEducation);
  }

  function addAchievement() {
    const achievementSection = document.getElementById("achievement-section");
    const newAchievement = `
        <div id="achievement-section" class="form-row">
              <div class="form-group col-md-8">
                <label for="awardTitle">Award Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="awardTitle"
                  name="award_title[]"
                  placeholder="Enter Award Title"
                  required
                />
              </div>
              <div class="form-group col-md-4">
                <label for="dateAwarded">Date Awarded</label>
                <input
                  type="date"
                  class="form-control"
                  id="dateAwarded"
                  name="date_awarded[]"
                />
              </div>
              <div class="form-group col-md-12">
                <label for="description">Description</label>
                <textarea
                  class="form-control"
                  id="description"
                  name="description[]"
                  placeholder="Describe the Achievement"
                ></textarea>
              </div>
            </div>`;
    achievementSection.insertAdjacentHTML("beforeend", newAchievement);
  }

  function addJob() {
    const jobSection = document.getElementById("job-section");
    const newJob = `<div id="job-section" class="form-row">
              <div class="form-group col-md-7">
                <label for="companyName">Company Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="companyName"
                  name="company_name[]"
                  placeholder="Enter Company Name"
                  required
                />
              </div>
              <div class="form-group col-md-5">
                <label for="jobTitle">Job Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="jobTitle"
                  name="job_title[]"
                  placeholder="Enter Job Title"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label for="startDate">Start Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="startDate"
                  name="start_date[]"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label for="endDate">End Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="endDate"
                  name="end_date[]"
                />
              </div>
              <div class="form-group col-md-12">
                <label for="skills">Skills</label>
                <textarea
                  class="form-control"
                  id="skills"
                  name="skills[]"
                  placeholder="List relevant skills for this position"
                ></textarea>
              </div>
            </div>`;
    jobSection.insertAdjacentHTML("beforeend", newJob);
  }

  function addSocialMedia() {
    const socialMediaSection = document.getElementById("social-media-section");
    const newSocialMedia = `<div class="form-row">
                <div class="form-group col-md-4">
                  <label for="platform">Platform</label>
                  <select
                    class="form-control"
                    id="platform"
                    name="platform[]"
                    required
                  >
                    <option value="Instagram">Instagram</option>
                    <option value="Facebook">Facebook</option>
                    <option value="LinkedIn">LinkedIn</option>
                    <!-- Add more platforms as needed -->
                  </select>
                </div>
                <div class="form-group col-md-8">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username[]"
                    placeholder="Enter Username or Profile Link"
                    required
                  />
                </div>
              </div>`;
    socialMediaSection.insertAdjacentHTML("beforeend", newSocialMedia);
  }
</script>
{% endblock %}
